body {
    font-family: arial;
    font-weight: inherit;
    color: yellow;
    background-color: dodgerblue;
    border: double;
    border-width: thick;
    border-color: black;
    border-radius: 10px 20px;
}
